<!DOCTYPE html>
<html>
  <head>

    <%# la variable :title es enviada por cada vista static_pages >> about/help/home %>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

    <%# aqui se renderiza el contenido de cada vista  %>
    <%= yield %>
  </body>
</html>
